@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    /* #region header  */

    .header-container {
        margin: 0 auto;
    }

    .nav-menu {
        gap: 76px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
        justify-content: flex-end;
    }

    .address-list-item {
        font-size: 16px;
        line-height: 1.5;
    }

    /* #endregion header */

    /* #region hero section */

    .hero-section {
        min-width: 1440px;
        padding: 188px 0;
    }

    .hero-container {
        gap: 48px;
    }

    /* #endregion hero section  */

    /* #region features info section */

    .features-section {
        padding: 120px;
        flex-direction: row;
    }

    .features-list {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .features-list-item {
        width: calc((100% - 72px)/ 4);
    }

    .rectangle-bed {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cloud);
        border: 1px solid var(--light-slate);
        border-radius: 4px;
        max-width: 264px;
        min-height: 112px;
        margin-bottom: 8px;
    }

    .feature-name {
    font-weight: 500;
    font-size: 20px;
    }

    .feature-descr {
        font-weight: 400;
    }

    /* #endregion features info section */

    /* #region team section  */

    .team-section {
        padding: 120px 0;
    }

    .team-list {
        flex-wrap: nowrap;
    }

    /* #endregion team section */

    /* #region portfolio section */



    /* #endregion portfolio section */

    /* #region footer */

    .footer {
        padding: 100px 0;
    }

    .footer-container {
        flex-wrap: nowrap;
    }

    .footer-info-container {
        gap: 16px;
        margin-right: 120px;
    }

    .footer-socials-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-form-container {
        margin-left: 80px;
    }

    /* #endregion footer */

    /* #region modal */

    

    /* #endregion modal */


}