@media screen and (min-width: 768px) {

    /* #region header */

    .burger-btn,
    .mobile-menu {
        display: none;
    }

    .container {
        max-width: 768px;
    }
 
    .header-container {
        height: 72px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 120px;
    }

    .nav-menu-item {
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-list-menu {
        display: flex;
        gap: 40px;
    }

    .menu-list-item {
        color: var(--navy-blue);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-list-item:first-child {
        color: var(--ocean);
    }

    .nav-menu-item.current {
        position: relative;
    }

    .nav-menu-item.current::after {
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--ocean);
        border-radius: 2px;
        position: absolute;
        bottom: -2px;
        left: 0;
    }

    .address {
        font-style: normal;
        display: contents;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
    }

    .address-list-item {
        color: var(--slate);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-menu-item:hover,
    .nav-menu-item:focus,
    .address-list-item:hover,
    .address-list-item:focus {
        color: var(--ocean);
    }

    .contact {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* #endregion header */

    /* #region hero section */
    
    .hero-section {
        min-width: 768px;
        padding: 112px 136px;
    }

    .hero-container {
        gap: 36px;
    }

    .hero-header {
        min-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }

    .main-button {
        margin: 0 auto;
    }

    /* #endregion hero section */

    /* #region features info section */

    .features-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;
        row-gap: 72px;
    }

    .features-list-item {
        width: calc((100% - 24px) / 2);
    }

    .feature-name {
        text-align: left;
    }

    /* #endregion features info section */

    /* #region team section */

    .team-section {
        padding: 96px 92px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
    }

    .team-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    /* #endregion team section */

    /* #region portfolio section */

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .portfolio-list-item {
        flex-basis: calc((100% - 24px) / 2);
        max-width: 356px;
    }

    /* #endregion portfolio section */

    /* #region footer */

    .footer-container {
        margin: 96px 0;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0px;
        row-gap: 72px;
    }

    .footer-info-container {
        gap: 24px;
    }

    .footer-input-header {
        text-align: left;
    }

    .footer-form {
        align-items: baseline;
        flex-direction: row;
    }

    /* #endregion footer */

    /* #region modal */

    .modal {
        width: 408px;
        min-height: 584px;
    }

    /* #endregion modal */
}